<md-progress-bar *ngIf="progress" mode="indeterminate"></md-progress-bar>
<div class="container">
<div class="demo-card-wide mdl-card mdl-shadow--2dp flex" style="height: auto; ">
<md-input-container style="margin-top: 15px;"><input mdInput type="text" [(ngModel)]="login" placeholder="Nazwa użytkownika" required></md-input-container>
<md-input-container><input mdInput type="password" [(ngModel)]="password" placeholder="Hasło" required></md-input-container>
<md-input-container *ngIf="register"><input [class.invalid]="(email != email2)" mdInput type="text" [(ngModel)]="email" placeholder="Adres email" required ></md-input-container>
<md-input-container *ngIf="register"><input [class.invalid]="(email != email2)" mdInput type="text" [(ngModel)]="email2" placeholder="Powtórz email" required></md-input-container>
<div><button *ngIf="!register" md-raised-button type="submit" color="warn" style="margin-right: 10px" [disabled]="login.length < 3 || password.length < 3" (click)="logIn()">Zaloguj Się</button><button md-raised-button *ngIf="!register" type="submit" color="primary" (click)="register=true">Zarejestruj się</button><button md-raised-button *ngIf="register" [disabled]="login.length < 3 || password.length < 3 || email.length < 6 || email!=email2" type="submit" color="primary" style="margin-bottom: 20px;" (click)="registerUser()">Zarejestruj się</button></div>
</div>
</div>