<md-toolbar color="primary">

        <span>Baza testowników PWr</span>

        <span class="example-spacer"></span>
      
        <a md-button [routerLink]="['/user','tests']"><md-icon>list_view</md-icon></a>

        <a md-button style="cursor: pointer" (click)="logout()"><md-icon>power_settings_new</md-icon></a>

</md-toolbar>

<md-sidenav-container>
  <md-sidenav opened mode="side">
    <span>Witaj, {{user?.username}}</span>
    <md-list>
      <md-list-item>
        Testy
      </md-list-item>
      <md-list-item>
        Twoje testy
      </md-list-item>
      <md-list-item>
        Profil
      </md-list-item>
      <md-list-item>
        Wyloguj
      </md-list-item>
    </md-list>

    
  </md-sidenav>
 
    <div class="page-content">	<router-outlet></router-outlet></div>


</md-sidenav-container>