
<md-card *ngFor="let q of test?.questions" >
  
    <md-list>
    <md-list-item><h4 *ngIf="!q.img_question">{{q.question}}</h4><img *ngIf="q.img_question" src="https://testownikpwr.herokuapp.com{{q.img_question}}"></md-list-item>

    <md-list-item *ngFor="let a of q.answers" [class.correct]="a.is_correct" class="mdl-list__item">
        <span *ngIf="!a.img_answer" class="mdl-list__item-primary-content">{{a.answer}}</span><img *ngIf="a.img_answer" src="https://testownikpwr.herokuapp.com{{a.img_answer}}">
    </md-list-item>
    </md-list>

</md-card>